# Project exclude paths
/.gradle/
/Problems/Check if an array contains two numbers/out/
/Problems/Check if an array contains two numbers/out/production/classes/
/Problems/Count how many times a number occurs/out/
/Problems/Count how many times a number occurs/out/production/classes/
/Problems/Initializing an array of characters/out/
/Problems/Initializing an array of characters/out/production/classes/
/Problems/Maximum element in a matrix/out/
/Problems/Maximum element in a matrix/out/production/classes/
/Problems/Sum of neighbors/out/
/Problems/Sum of neighbors/out/production/classes/
/Problems/The longest ascending sequence/out/
/Problems/The longest ascending sequence/out/production/classes/
/Problems/The star figure/out/
/Problems/The star figure/out/production/classes/
/Tic-Tac-Toe/task/build/
/Tic-Tac-Toe/task/out/
/Tic-Tac-Toe/task/out/production/classes/